{% extends 'base.html' %}



{% block title %}
    <title>Contact</title> 
{% endblock %}

{% block content %}
    <p style="color: var(--var-body-bg); font-size:x-large;">
        <div class="footer__social-content">
            Folow Us:
            <a target="_blank" href="#">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a target="_blank" href="#">
                <i class="fab fa-twitter"></i>
            </a>
            <a target="_blank" href="#">
                <i class="fab fa-instagram"></i>
            </a>
            <a target="_blank" href="#">
                <i class="fab fa-pinterest-p"></i>
            </a>
        </div>
        my conatacts is Telegram <br>
        my git hub
    </p>
{% endblock %}