{% extends 'base.html' %}
{% load static %}


{% block title %}
    <title>Contact</title> 
{% endblock %}

{% block content %}
    <p style="color: var(--var-body-bg); font-size:x-large;">
        <div class="footer__social-content">
           
            <a style="color: #fff;" target="_blank" href="https://t.me/andrew_stoic"><i class="fab fa-telegram">Find me in Telegram</i></a><br>
            <a style="color: #fff;" target="_blank" href="https://github.com/andrew18ned"><i class="fab fa-github">My GitHub</i> 
            </a>
        </div>
    </p>
{% endblock %}